 <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-social">
                <a href="https://www.linkedin.com/in/abdullah-al-ghamdi-625734268" class="social-link">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <a href="https://github.com/e7gx" class="social-link">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="https://wa.me/+966549970539" class="social-link">
                    <i class='bx bxl-whatsapp'></i>
                </a>
                <a href="mailto:abdullah.i.alghamdi23@gmail.com" class="social-link">
                    <i class='bx bx-envelope'></i>
                </a>
                <a href="https://x.com/abdu_algh" class="social-link">
                    <i class='bx bxl-twitter'></i>
                </a>
            </div>
            <p class="footer-text">© 2024 Abdullah I. Alghamdi. Crafted with <span
                    style="color:#ef4444;">&#10084;&#65039;</span>. All rights reserved.</p>
        </div>
    </footer>
    <!-- End Footer -->